<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="User_Interface_For_Vintage_Club_Database.Properties.Settings.Machine_DatabaseConnectionString"
            connectionString="Data Source=LAPTOP-BT59QU4U;Initial Catalog=Machine_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>